@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tan Pearl";
  src: url("./assets/fonts/tan-pearl.otf") format("opentype");
}

@layer components {

  * {
    scrollbar-width: thin;
    scrollbar-color: #F8F8FF #000;
  }

  html {
    scrollbar-width: none !important;
  }

  body,
  section,
  main {
    @apply bg-light text-dark;
  }

  .scroll {
    scrollbar-width: thin;
    scrollbar-color: #000111 #00011115;
  }

  .products-scroll {
    scrollbar-width: thin;
    scrollbar-color: #000111 transparent;
  }


  /* .scroll::-webkit-scrollbar {
    @apply w-1/2 h-2 rounded-full max-w-sm;
  }

  .scroll::-webkit-scrollbar-thumb {
    @apply bg-dark/90 rounded-full border border-solid border-dark/60;
  }

  .scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-dark/50;
  }

  .scroll::-webkit-scrollbar-track {
    @apply bg-dark/20 rounded-full w-1/2 max-w-sm;
  }

  .scroll::-webkit-scrollbar-button {
    @apply mx-24;
  } */

  h1,
  h2,
  h3 {
    @apply font-luxury font-extralight;
  }

  *,
  h4,
  h5,
  h6,
  a,
  button,
  span,
  li {
    @apply font-body;
  }

  p {
    @apply font-body font-light;
  }

  main {
    @apply py-12 px-4 sm:py-24 md:px-12 md:py-[7.5rem] lg:py-[9rem] relative z-10 bg-light;
  }

  section {
    @apply bg-light;
  }

  .filter-black {
    filter: brightness(0) saturate(100%) invert(3%) sepia(17%) saturate(7030%) hue-rotate(273deg) brightness(105%) contrast(105%);
  }

  .filter-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }

  .hover-outline {
    @apply outline outline-2 outline-offset-0 outline-dark/0 hover:outline-dark/60 hover:outline-offset-2 focus:outline-offset-2 focus:outline-dark transition-all duration-200 ease-linear;
  }

  .text-gradient {
    @apply bg-gradient-to-b from-[#C0C0C0] from-[27%] via-[#D3D3D3] via-[40%] to-[#A9A9A9] to-[98%] text-transparent bg-clip-text;
    -webkit-text-stroke: 0.5px black;
  }

}

.instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}